.dropdown__component-children-item {
  cursor: pointer !important;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  background-color: var(--main-white-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--stroke-grey-color);
  }

  & > .logo {
    width: 30px;
    height: 20px;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  & > .content {
    font-size: var(--font-size-desktop-body-1);
    font-weight: 400;
    color: var(--text-nero-color);
    width: 100%;
  }
}
