.footer__auth-modal {
  width: 100%;

  & > p,
  & > div.footer__auth-modal--content {
    font-size: var(--font-size-desktop-body-2);
    color: var(--text-nero-color);
    font-weight: 400;
    line-height: 160%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    & > a,
    & > div {
      cursor: pointer;
      color: var(--main-primary-color);
      font-weight: 500;
      text-decoration: underline;
      transition: color 0.3s;
    }
  }
}
