.dropdown__component {
  position: relative;
  padding: 8px 12px;
  border: 1px solid var(--stroke-grey-color);
  width: fit-content;
  height: 100%;
  cursor: pointer;

  //   styling for condition has icon left
  &.icon__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    .dropdown__component-icon {
      width: 18px;
      height: 18px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  //   Styling for condition has image right
  &.image__right {
    .dropdown__component-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

      &--icon {
        width: auto;
        height: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .dropdown__component-title {
    &--value {
      font-weight: 400;
      font-size: var(--font-size-desktop-body-1);
      color: var(--text-nero-color);
    }
  }

  // handle hover dropdown show children
  &:hover {
    .dropdown__component-children {
      opacity: 1;
      visibility: visible;
    }
  }

  //   Styling for dropdown children
  .dropdown__component-children {
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--main-white-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 999;
  }
}
